<div ng-controller="startpageController as c" style="padding-right:50px; padding-left:50px;">
    <h1>Einkaufsliste</h1>
    <div class="panel panel-default">
        <table class="table panel-heading">
            <thead>
            <tr class="smallDisplay">
                <th class="col-md-3 col-xs-3 smallDisplay">Name</th>
                <th class="col-md-3 col-xs-3">Anzahl</th>
                <th class="col-md-3 col-xs-3">Einheit</th>
                <th class="col-md-3 col-xs-3">Supermarkt</th>
            </tr>
            </thead>
        </table>
        <table class="table footable">
            <tbody>
            <tr class="tableText" ng-repeat="product in c.products | orderBy: 'laden'">
                <td class="col-md-3 col-xs-3 tableText">{{product.Name}}</td>
                <td class="col-md-3 col-xs-3 tableText">{{product.Quantity}}</td>
                <td class="col-md-3 col-xs-3 tableText">{{product.Unit}}</td>
                <td class="col-md-3 col-xs-3 tableText">{{product.Supermarket}}<span class="floatRight"><a class="fa fa-times deleteIcon" ng-click="c.deleteItem($index,product.Name)"></a></span></td>
            </tr>
            <!--<tr name="c.addProduct" ng-hide="c.smallDisplay">
                <td class="col-md-3" ng-class="{'has-error' : c.addProduct.name.$invalid}">
                    <input type="text" class="form-control" name="name" ng-pattern="/[A-Z][a-z]*/" ng-model="c.name" placeholder="Name des Produktes">
                    <p class="text-danger" ng-show="c.addProduct.name.$error.pattern">Im Vornamen sind keine Ziffern und Sonderzeichen erlaubt! Zudem muss der erste Buchstabe groß geschrieben werden</p>
                    <p class="text-danger" ng-show="c.addProduct.name.$error.required">Der Vornamen darf nicht leer sein!</p>
                </td>
                <td class="col-md-3"><input type="text" class="form-control" ng-model="c.quantity" placeholder="Anzahl"></td>
                <td class="col-md-3"style="vertical-align: middle">
                    <input type="radio" name="Einheit" value="Stück" ng-model="c.unit"> St&uuml;ck
                    <input type="radio" name="Einheit" value="Gramm" ng-model="c.unit" class="radioButtonsDistance"> Gramm
                </td>
                <td class="col-md-3"><input type="text" class="form-control" ng-model="c.supermarket" placeholder="Einkaufsladen"></td>
            </tr>-->
            </tbody>
        </table>
    </div>
    <div ng-hide="c.addProductForm" class="btn-group" role="group" aria-label="...">
        <button type="submit" class="btn btn-primary sizeButton" ng-click="c.addProductForm = true">Produkt hinzufügen</button>
        <button type="button" class="btn btn-danger sizeButton" ng-click="c.deleteList()">Einkaufsliste leeren</button>
    </div>
    <div class="col-md-5" ng-show="c.addProductForm">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2" for="name">Name:</label>
                <div class="col-sm-5 col-md-5">
                    <input class="form-control" id="name" placeholder="Name des Produktes"  ng-model="c.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2" for="quantity">Anzahl:</label>
                <div class="col-sm-5 col-md-5">
                    <input class="form-control" id="quantity" placeholder="Anzahl" ng-model="c.quantity">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2" for="unit">Einheit:</label>
                <div class="col-sm-5 col-md-5" id="unit">
                    <input type="radio" name="unit" value="Stück" ng-model="c.unit"> St&uuml;ck
                    <input type="radio" name="unit" value="Gramm" ng-model="c.unit" class="radioButtonsDistance"> Gramm
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2 col-md-2" for="supermarket">Supermarkt:</label>
                <div class="col-sm-5 col-md-5">
                    <input class="form-control" id="supermarket" placeholder="Supermarkt" ng-model="c.supermarket">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-click="c.addProduct()">Produkt hinzufügen</button>
                </div>
            </div>
        </form>
    </div>
    <!--<div>
        <div class="col-md-6 col-xs-6">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{c.currentRecipe.Name}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="recipe in c.recipes"><a ng-click="c.changeRecipe(recipe)">{{recipe.Name}}</a></li>
                </ul>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li ng-repeat="recipe in c.recipes"><a ng-click="c.changeRecipe(recipe)">{{recipe.Name}}</a></li>
                </ul>
                <button type="button" class="btn btn-primary" ng-click="c.addRecipe()">Rezept hinzufügen</button>
            </div>
        </div>
        <div class="col-xs-6 col-md-6">
            <div class="btn-group floatRight" role="group" aria-label="...">
                <button type="button" class="btn btn-primary" ng-click="c.addProduct()">Produkt hinzufügen</button>
                <button type="button" class="btn btn-danger" ng-click="c.deleteList()">Einkaufsliste leeren</button>
            </div>
        </div>

    </div>-->
</div>
